#calculator-container {
    height: 550px;
    width: 400px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    background-color: #F5F5F5;
}

#input {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-width: 10px;
    height: 20px;

}

#internals {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: auto;
    justify-content: center;
    gap: 10px;
    
}

button {
    height: 70px;
    width: 80px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}

.column4 {
    display: flex;
    padding-bottom: 10px;
    gap: 10px
}

.column1, .column2, .column3 {
    display: flex;
    gap: 10px;
}

#input {
    height: 120px;
    width: 350px;
    gap: 30px;
    border-style: solid;
    border-color: black;

}

button:hover {
    background-color: #E0E0E0;
}

p {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 30px;
}